<mat-toolbar color="primary">
  <span>Finance</span>
  <span class="spacer-between"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icone do menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!-- Banks -->
    <button mat-menu-item routerLink="bancos">
      <mat-icon>account_balance</mat-icon>
      <span>Bancos</span>
    </button>
    <!-- Brokers -->
    <button mat-menu-item routerLink="corretoras">
      <mat-icon>candlestick_chart</mat-icon>
      <span>Corretoras</span>
    </button>
    <!-- Exchange -->
    <button mat-menu-item routerLink="cambio">
      <mat-icon>payments</mat-icon>
      <span>Câmbio</span>
    </button>
    <!-- Pix -->
    <button mat-menu-item routerLink="pix">
      <mat-icon>currency_exchange</mat-icon>
      <span>Pix</span>
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
